= render "shared/new_review_req_form",
  resource: @review_req,
  back_path: users_repo_path(@pull.repo),
  url: users_pulls_review_requests_path,
  pull_collection: @pull_collection,
  room_collection: @room_collection
