.container
  %h2 Myリポジトリ
  %p= link_to "GitHubとリポジトリ情報を同期する", users_sync_repos_path, method: :patch, class: "btn btn-dark"
  %table.table
    %thead
      %tr
        %th{ scope: "col" } リポジトリ名
        %th{ scope: "col" } 公開ステータス
        %th{ scope: "col" } 公開中のプルリク数
    %tbody
      - if @repos.present?
        - @repos.each do |repo|
          %tr
            %td= link_to repo.name, users_repo_path(repo)
            %td= repo.public_state
            %td= repo.pulls.where(is_open: true).size
      - else
        %tr
          %td 表示できるリポジトリはありません
          %td -
          %td -
