.padding
  .box
    .box-header.navbar
      %h2.flex Myリポジトリ
      = link_to users_sync_repos_path, method: :patch, class: "btn btn-dark order-lg-1" do
        %i.fa.fa-github
        %span GitHubとリポジトリを同期する
    %table.table
      %thead
        %tr
          %th{ style: "width:100px;" } 公開設定
          %th リポジトリ名
          %th{ style: "width:50px;" }
      %tbody
        - if @repos.present?
          - @repos.each do |repo|
            %tr
              %td.algin-middle
                .badge.badge-pill.text-sm{ class: repo.is_private ? "warning": "grey" }
                  = repo.public_state
              %td.algin-middle
                = link_to repo.name, users_repo_path(repo)
              %td.algin-middle
                - pull_count = repo.pulls.where(is_open: true).count
                .badge.badge-pill.text-sm{ class: pull_count.zero? ? "light" : "danger" }
                  = pull_count
        - else
          %tr
            %td 表示できるリポジトリはありません
            %td -
            %td -
