/*    Markdown    */
.markdown-body
  font-size: 14px
  color: #465a6ed9
  border: 1px solid lightgray
  padding: 15px 20px
  margin-bottom: 20px
  &.no-border
    border: 0
    padding: 0
    margin-bottom: 0
  p
    margin-bottom: 0.75rem

/*    Comment    */
.invalid-comment
  display: none
  margin-top: 6px

/*    Top Bg    */
.top-area
  position: relative
  .top-bg
    background-size: cover
    background-position: center center
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
  .top-bg-dk
    background-color: rgba(0, 0, 0, 0.2)
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
