= render "shared/new_review_req_form",
  resource: @review_req,
  back_path: users_rooms_review_request_path(@review_req.room, @review_req),
  url: users_rooms_review_request_path(@review_req.room, @review_req),
  pull_collection: @pull_collection,
  room_collection: @room_collection
