= f.select_parts :speed, options: 1..5, message: "対応の迅速さを1(遅かった)〜5(早かった)で評価してください"
= f.select_parts :quantity, options: 1..5, message: "レビューの量を1(物足りなかった)〜5(ちょうどよかった)で評価してください"
= f.select_parts :quality, options: 1..5, message: "レビューの質を1(表面的だった)〜5(しっかり見てくれた)で評価してください"
= f.textarea_parts :comment, message: "良かった点、気になった点を記入してください"
