- if current_user.reviewer? && current_user.owned_rooms.blank?
  .padding.pb-0
    .box.mb-0
      .box-header
        %h2 ルームの作成
      .box-divider.m-0
      .box-body.text-center
        .py-5
          %h3.mb-3 ルームを作成してみましょう
          .mb-1 ルームを作成することで、その部屋に参加してくれたレビュイーのコードレビューを行うことができます
          .mb-3 コードレビューを行うことで、収益に繋がります
          = link_to "ルームを作成する", new_users_room_path, class: "btn btn-rounded info"
- if current_user.my_repos.blank?
  .padding.pb-0
    .box.mb-0
      .box-header
        %h2 Myリポジトリへの登録
      .box-divider.m-0
      .box-body.text-center
        .py-5
          %h3.mb-3 リポジトリを登録してみましょう
          .mb-1 リポジトリを登録することで、GitHubの情報が自動で同期されます
          .mb-3 同期された情報を元に手軽にレビュー依頼が行えます
          = link_to "リポジトリを登録する", new_users_repo_path, class: "btn btn-rounded info"
- if current_user.participating_rooms.blank?
  .padding
    .box.mb-0
      .box-header
        %h2 ルームへの参加
      .box-divider.m-0
      .box-body.text-center
        .py-5
          %h3.mb-3 ルームへ参加してみましょう
          .mb-1 ルームへ参加することで、その部屋のレビュワーからコードレビューを受けることができます
          .mb-3 コードレビューを受けることで、自身のスキルアップに繋がります
          = link_to "ルームを探す", users_rooms_path, class: "btn btn-rounded info"
= render "modal"
