.padding.info.py-5
  %h1.mb-4
    Your review save
    %br the world of engineer
  %h6.mb-4
    .mb-2 レビュワーとレビュイーをつなげるマッチングプラットフォーム。
    コードレビューを通してエンジニアの世界をより良くしましょう。
  = link_to "/auth/github", class: "btn btn-lg btn-rounded white text-info" do
    %i.fa.fa-github
    GitHubでサインアップ
.padding
  %h3 レビュワーのあなたへ
  .row
    .col-sm-4
      .box
        .box-body.text-center
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
    .col-sm-4
      .box
        .box-body.text-center
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
    .col-sm-4
      .box
        .box-body.text-center
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
.padding.white
  %h3 レビュイーのあなたへ
  .row
    .col-sm-4
      .box
        .box-body.text-center
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
    .col-sm-4
      .box
        .box-body.text-center
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
    .col-sm-4
      .box
        .box-body.text-center
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
          コンテンツ
.padding.info
  %h3.mb-4
    GitHubアカウントさえあれば
    %br 30秒で始められます。
  = link_to "auth/github", class: "btn btn-rounded btn-lg white text-info" do
    %i.fa.fa-github
    GitHubでサインアップ
