.padding.info.py-5.text-center
  %h1.mb-4
    BestCode Makes
    %br Best Engineer
  %h6.mb-4
    .mb-2 レビュワーとレビュイーをつなげるマッチングプラットフォーム。
    コードレビューを通してエンジニアの世界をより良くしましょう。
  = link_to "/auth/github", class: "btn btn-lg btn-rounded white text-info" do
    %i.fa.fa-github
    GitHubでサインアップ
