/*    show    */
.room-container
  margin-bottom: 20px
  .room-reviewer
    .content-body
      margin-bottom: 20px
  .room-edit
    margin-bottom: 10px
  .create-review-request
    margin-bottom: 10px

.review-reqs-container
  .review-req-list
    td
      vertical-align: middle
    .open-req
      color: forestgreen
      font-size: 20px
      vertical-align: middle
    .close-req
      color: crimson
      font-size: 20px
      vertical-align: middle
    .review-req-name
      display: inline-block
      vertical-align: middle
      font-weight: bold
