.padding
  .box
    .box-header.navbar
      .flex
        %h2= @pull.name
        %small= link_to @pull.url, @pull.url, target: "_blank"
    -if @pull.description.present?
      .box-divider.m-0
      .box-body
        .markdown-body.no-border= markdown @pull.description
  %u= link_to "リポジトリ詳細に戻る", users_repo_path(@repo), class: "text-muted"
