.review-reqs-container
  %table.table
    %thead
      %tr
        %th{ scope: "col" } レビューリクエスト名
        %th{ scope: "col" } ステータス
        %th{ scope: "col" } 依頼者
        %th{ scope: "col" } メニュー
    %body
      - if review_reqs.present?
        - review_reqs.each do |review_req|
          %tr
            %td= review_req.name
            %td= review_req.state
            %td= review_req.reviewee.name
            %td= link_to "GitHubへ移動", review_req.pull.url, target: "_blank", class: "btn btn-dark btn-sm"
      - else
        %tr
          %td 表示できるレビューリクエストはありません
          %td -
          %td -
          %td -
